body{
    border: 2px solid grey;
    background-color: antiquewhite;
    margin:0px;
    height: auto;
}
header{
   
    border: 2px solid green;
    border-width: 5px;
    
    border-top-color: blue;
    background-color: crimson;
}

.container-basic-t-shirt{
    display: flex;
    flex-direction: row;
    
}

.basic-info{
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    width: 40%;
   

}

.name{
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column;
}

.job-role{
    display: flex;
    flex-direction: column;
}
/* 

//////////////////////////// */


label,input,select{
  display: block;
}

.t-hirt-info{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.size{

    border: 2px solid blue;
   
    width: 30%;
    height: 20%;
}

.t-shirt{
    border:2px solid red;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 230);
    width: 30%;
    margin:auto;
}


.container-size-design{
border:2px solid red;
 
display: flex;
flex-direction: row;
justify-content: center;
height: 300px;
}




.design{
   

    border: 2px solid red;
   width: 60%;
    height: 20%;
    
 
 
 }

 #ceva2{
    background-color: white;
 border: 2px solid black;
 width: 70%;  
 height: 70%;
 
 }
 
#ceva{
    background-color: white;
    border: 2px solid black;
    width: 70%;  
    height: 70%;
 
 }

 .color{
    border: 2px solid purple;
    display: flex;
    flex-direction: row;
    gap:5px;
    height:50px;
    width: 80%;
 }
 
 .ceva3{
    background-color: white;
    border:2px solid purple;
    border: 6px green;
    width: 70%;
    height: 40%;
   text-align:start;
 }
 

/* 
///////////////////////////////// */

img{
border: 2px solid black;
    display: block;
    width:50px;
    height: 50px;

}
.main-conference{
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;

    justify-content: space-between;
    
  
    
}
.main-box{
    display: flex;
    flex-direction: row;
}


/* ..................... */
.container{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    gap:10px
   

}
.container-enumerari{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.javascript{
    border: 2px solid green;
    display: flex;
    flex-direction: row;

}


.container-node{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;

}

.node{
    border: 2px solid green;
    display: flex;
    flex-direction: row;

}

/* .................... */
.container-prima{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;

}

.vertical-frameworks{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.frameworks{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
   
}

/* ........................ */
.container2{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    gap:10px
}
.container-doua{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.vertical-build{
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
}
.build{
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/* ............. */

.container3{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    gap:10px
}

.conainer-prima{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
}

.vertical-npm{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.npm{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}

.vertical-express{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.express{
    border:2px solid red;
    display: flex;
    flex-direction: row;
}


/* ....................... */
.total{
    border: 2px solid purple;
    display: flex;
    flex-direction: row;
    margin-left: 90%;
    font-weight: bolder;
    
}
.paiment{
    font-size: 40px;
    font-weight: bolder;
}

/* .................... */

.container4{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ecpiration-date{
    display: flex;
    flex-direction: column;
}

.container-card{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/* .......................... */
.container5{
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    
}

.container6{
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    
}


.register{
    border: 2px solid black;
    
}
button{
    background-color: rgb(164, 139, 143);
    color:white;
    font-size: 40px;
}